aiohttp
aiofiles
requests
beautifulsoup4
fastapi==0.115.11
uvicorn[standard]==0.33.0
pydantic==2.10.6
pydantic-core==2.27.2
requests==2.32.4
lxml==5.4.0
selenium==4.27.1
PyYAML==6.0.2
DrissionPage==4.1.0.17
markdownify==0.11.6
gunicorn
gradio